[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
[submodule "extern/googlebenchmark"]
	path = extern/googlebenchmark
	url = git@github.com:google/benchmark.git
